@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", serif;
}

.swiper-button-next,
.swiper-button-prev {
  color: #e16f52 !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #181A20;
}

::-webkit-scrollbar-thumb {
  background: #E16F52;
}

::-webkit-scrollbar-thumb:hover {
  background: #e17a60;
}

@tailwind base;
@tailwind components;
@tailwind utilities;